**/.DS_Store
**/*.pyc
**/__pycache__/
*.egg-info/
*.eggs/

docs/build/
docs/_build/
build/
sky_logs/
sky/clouds/service_catalog/data_fetchers/*.csv
.vscode/
.idea/

# Shell redirection artifacts
=[0-9]*
>[0-9]*
*.tmp
*.log
